/* Imports */

@import url("https://fonts.googleapis.com/css?family=Roboto");

/* General styles */

*, *::after, *::before {
    box-sizing: border-box; 
}

:root {
    --clr-dark: hsl(0, 0%, 27%);
    --clr-semi-dark: hsl(0, 0%, 40%);
    --clr-light: hsl(0, 0%, 89%);
    
    --clr-accent: hsl(209, 100%, 75%);

    --fw-bold: 700;

    --fs-medium: 1.5rem;
}

html, body {
    margin: 0;
    height: 100%;
    font-family: 'Roboto';
}

p, h1, h2 {
    margin: 0;
}

/* Layout */

.content {
    display: grid;
    grid-template-rows: 50px 1fr 50px;
    height: 100%;
}

.content.nav-expanded {
    grid-template-columns: 200px 1fr;
}

.content.nav-hidden {
    grid-template-columns: 40px 1fr;
}

.header, .footer {
    display: grid;
    align-items: center;
    grid-column: 1 / -1;
}

.footer {
    justify-items: center;
}

.main {
    display: grid;
    align-items: center;
    justify-items: center;
}

.main-content {
    display: grid;
    gap: .2rem;
}

/* Inputs */

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

input[type="number"] {
    width: 100px;
}

/* Buttons */

button {
    cursor: pointer;
}

.nav-toggle {
    position: absolute;
    top: .5rem;
    right: .5rem;
    border: none;
    background-color: var(--clr-semi-dark);
}

/* Elements */

.header {
    padding-left: .5rem;
}

.nav {
    position: relative;
    padding: .5rem;
}

.data, .counter {
    padding: .5rem;
    height: 150px;
    width: 300px;
}

/* Utility */

.bgc-dark {
    background-color: var(--clr-dark);
}

.bgc-semi-dark {
    background-color: var(--clr-semi-dark);
}

.bgc-accent {
    background-color: var(--clr-accent);
}

.text-clr-light {
    color: var(--clr-light);
}

.text-clr-accent {
    color: var(--clr-accent);
}

.fw-bold {
    font-weight: var(--fw-bold);
}

.fs-medium {
    font-size: var(--fs-medium);
}