/* Imports */

@import url("https://fonts.googleapis.com/css?family=Roboto");

/* General styles */

*, *::after, *::before {
    box-sizing: border-box; 
}

:root {
    --clr-dark: hsl(0, 0%, 27%);
    --clr-semi-dark: hsl(0, 0%, 35%);
    --clr-semi-light: hsl(0, 0%, 70%);
    --clr-light: hsl(0, 0%, 89%);
    
    --clr-accent: hsl(209, 100%, 75%);

    --fw-bold: 700;

    --fs-small: 1rem;
    --fs-medium: 1.5rem;
}

html, body {
    margin: 0;
    height: 100%;
    font-family: 'Roboto';
}

p, h1, h2 {
    margin: 0;
}

/* Layout */

.content {
    display: grid;
    grid-template-rows: 50px 1fr 50px;
    height: 100%;
}

.content.nav-expanded {
    grid-template-columns: 200px 1fr;
}

.content.nav-hidden {
    grid-template-columns: 40px 1fr;
}

.header, .footer {
    display: grid;
    align-items: center;
    grid-column: 1 / -1;
}

.footer {
    justify-items: center;
}

.main {
    display: grid;
    grid-template-rows: 50px 1fr;
}

.main-content {
    display: grid;
    grid-template-rows: repeat(2, min-content);
    place-content: center;
    gap: .2rem;
}

.nav-content {
    display: grid;
    justify-items: start;
    gap: .5rem;
}

/* Inputs */

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

input[type="number"] {
    width: 100px;
}

/* Buttons */

button {
    cursor: pointer;
    border: none;
    background: none;
    border-radius: .3rem;
}

button.btn {
    padding: .3rem .7rem;
}

button.nav-toggle {
    position: absolute;
    top: .5rem;
    right: .5rem;
}

button.nav-toggle:hover {
    color: var(--clr-light);
}

button.regular {
    border: 1px solid var(--clr-semi-light);
    background-color: var(--clr-semi-light);
}

button.regular:hover {
    color: var(--clr-light);
    background-color: var(--clr-semi-dark);
}

button.add {
    border: 1px solid var(--clr-light);
    color: var(--clr-light);
}

button.add:hover {
    color: var(--clr-semi-dark);
    background-color: var(--clr-light);
}

/* Elements */

.header {
    padding-left: .5rem;
}

.main {
    padding: .5rem;
}

.nav {
    position: relative;
    padding: .5rem;
}

.counter-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.data, .counter {
    padding: .5rem;
    width: 300px;
}

.github-link:hover {
    color: var(--clr-light);
}

/* Utility */

.bgc-dark {
    background-color: var(--clr-dark);
}

.bgc-semi-dark {
    background-color: var(--clr-semi-dark);
}

.bgc-accent {
    background-color: var(--clr-accent);
}

.text-clr-dark {
    color: var(--clr-dark);
}

.text-clr-semi-dark {
    color: var(--clr-semi-dark);
}

.text-clr-light {
    color: var(--clr-light);
}

.text-clr-accent {
    color: var(--clr-accent);
}

.fw-bold {
    font-weight: var(--fw-bold);
}

.fs-small {
    font-size: var(--fs-small);
}

.fs-medium {
    font-size: var(--fs-medium);
}